{
  "parser": "babel-eslint",
    "rules": {
      "semi": ["off"],
      "comma-dangle": ["off"],
      "jsx-quotes": ["error", "prefer-single"]
    },
    "extends": "airbnb",
    "plugins": [
      "react"
    ]
}